@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  background-image: url(/images/spektr.jpg);
}

.container .block form .button-wraper .btn, .container .block form .form-group .form-comment, .container .block form .form-group .form-name {
  background-image: linear-gradient(to right, #364a61, #4279b5, #54a3d8, #7663b9);
}

.container {
  width: 1700px;
  padding: 100px;
}
.container .block {
  background-image: url(/images/wall.png);
  padding: 40px;
  border-radius: 30px;
  margin-bottom: 50px;
}
.container .block h2 {
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: #FFFFFF;
}
.container .block form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: solid 1px #FFFFFF;
  width: 1420px;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 40px;
}
.container .block form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.container .block form .form-group label {
  font-size: 24px;
  padding-bottom: 20px;
  color: #FFFFFF;
}
.container .block form .form-group .form-name {
  width: 200px;
  height: 40px;
  padding: 20px;
}
.container .block form .form-group .form-comment {
  width: 500px;
  height: 100px;
  padding: 20px;
}
.container .block form .button-wraper .btn {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(72, 83, 97, 0.75);
  border-radius: 30px;
  width: 200px;
  height: 40px;
}
.container .all div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.container .all div .wrap {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 30px;
  background-image: url(/images/i.png);
  min-height: 300px;
  padding: 40px;
}
.container .all div .wrap .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .all div .wrap .head .data {
  font-size: 16px;
  color: #FFFFFF;
}
.container .all div .wrap .head .delete {
  cursor: pointer;
  display: flex;
  justify-content: end;
}
.container .all div .wrap .head .delete span {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: solid 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.container .all div .wrap .body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.container .all div .wrap .body .name {
  font-size: 22px;
  color: #FFFFFF;
}
.container .all div .wrap .body .name img {
  box-sizing: border-box;
  height: 50px;
  border: 50%;
  margin-right: 20px;
}
.container .all div .wrap .body .commit {
  font-size: 18px;
  max-width: 600px;
  color: #FFFFFF;
}
.container .all div .wrap .footer {
  display: flex;
  justify-content: end;
}
.container .all div .wrap .footer img {
  cursor: pointer;
  width: 20px;
}
.container .all div .wrap .footer img:hover {
  color: red;
  background-color: red;
  box-sizing: border-box;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */